.log  {
    max-width: 400px;      /* largeur fixe sur grand ecran */
    width: 90%;            /* largeur fluide sur petit ecran */
    margin: 50px auto;     /* le auto centre horizontalement, 50px de marge en haut */
    padding: 24px;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5); /* petit effet d'ombre pour le relief */
    margin-bottom: 200px;
}

/* ancien code login/signup plus utilisé
{
    margin-bottom: 300px;
}

.signup
{
    margin-bottom: 200px;
}*/

.g_id_signin
{
    display: flex;
    justify-content: center;
}

.floating-group {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 15px 10px 5px 10px;
    height: 50px;
    border: 1px solid #666;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.floating-label {
    position: absolute;
    left: 12px;
    top: 15px;
    color: #666;
    pointer-events: none;
    transition: all 0.2s ease;
    font-size: 16px;
    padding: 0 4px;
}

.input-field:focus + .floating-label,
.input-field:not(:placeholder-shown) + .floating-label {
    top: -1px;
    left: 10px;
    font-size: 12px;
    color: #9aa0a6; /* genre la couleur d'un placeholder */
    font-weight: bold;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 15px;
    background: none;
    border: none;
    color: #0a66c2;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.toggle-password:hover {
    text-decoration: underline;
    background: #eef3f8;
    border-radius: 4px;
}

.btn-small a
{
    text-decoration: none;
    color: #eef3f8;
}
